$family-sans-serif: 'IBM Plex Sans Condensed', sans-serif;
$dark: #333333;
$light: #FCFCFE;
$danger: #F45B5D;

@import 'bulma';
@import '~bulma-switch';

html {
  overflow-y: auto;
  overflow-x: auto;
}

.switch[type=checkbox] + label::before, .switch[type=checkbox] + label:before {
  background: $dark;
  border-color: $danger;
}

.switch[type=checkbox].is-danger:checked + label::before, .switch[type=checkbox].is-danger:checked + label:before {
  background: $danger;
  border-color: $danger;
}

.switch[type=checkbox] + label::after, .switch[type=checkbox] + label:after {
  background: $light;
}